---
---

<a href="/" class="site-title sl-flex">
	<span class="accent">xr</span><span class="muted">ipt</span>
</a>

<style>
	.site-title {
		font-weight: 800;
		letter-spacing: -0.02em;
		text-decoration: none;
		font-size: 1.25rem;
		gap: 0;
	}

	.site-title .accent {
		color: var(--sl-color-accent);
		font-family: "Sigmar", sans-serif;
	}

	.site-title .muted {
		color: var(--sl-color-gray-3);
		font-family: "Knewave", sans-serif;
		position: relative;
		top: -0.15em;
		left: 0.05em;
	}
</style>
